footer {
    background-color: #706868; 
    color: white; 
    padding: 50px; 
    text-align: center; 
}

.mi-menu {
    margin-bottom: 15px; 
}

.mi-menu ul {
    list-style: 15px; 
    padding: 0;
    margin: 20px;
    display: flex; 
    justify-content: center;
}

.mi-menu li {
    margin-right: 30px; 
}

.mi-menu a {
    color: white; 
    text-decoration: none; 
    padding: 8px 12px;
    border-radius: 4px; 
    transition: background-color 0.3s; 
}

.mi-menu a:hover {
    background-color: #818080; 
}
