<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<footer>
    <nav class="mi-menu">
        <ul>
         
            <li><a href="{{ url_for('index') }}"    >  INCRIPCION EN CURSO      </a></li>
            <li><a href="{{ url_for('usuario') }}"  >  REGISTRO DE USUARIO      </a></li>
            <li><a href="{{ url_for('productos')}}" >  REGISTRO DE PRODUCTOS    </a></li>
            <li><a href="{{ url_for('libros')}}"    >  REGISTRO DE LIBROS       </a></li>


        </ul>
    </nav>
</footer>
<body>
    <h1>INSCRIPCION EN CURSO</h1>

    <form action="{{ url_for('procesoL') }}" method="POST">
        <label for="">TITULO: </label>
        <input type="text" name="titulo">
        <br>
       <label for="">AUTOR: </label>
        <input type="text" name="autor"> 
        <br>
        <label for="">MEDIO</label>
        <input type="checkbox" name="medio" value="fisico">fisico <br>
        <input type="checkbox" name="medio" value="magnetico">magnetico <br>
        <br>
        <label for="resumen">RESUMEN: </label>
        <textarea id="resumen" name="resumen" rows="1" oninput="autoResize(this)" required></textarea>
        <br>
        <input type="submit">
    </form>
</body>
</html>